
.price_text{
    font-size: 0.8vw;
    color:white;
    margin:0;
}

.high_price{
    font-size: 0.8vw;
    margin:0;
    border-bottom: 1px solid grey;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 10%;
}

.header_name{
    font-size: 1.1vw;
    position: relative;
}
.header_name h1{
    margin-bottom:10%;
}

.header_name::after{
    position: absolute;
    content: ".";
    bottom:0;
    left:0;
    margin:auto;
    width:0;
    right:0;
    color: transparent;
    background: rgb(103, 103, 247);
    height: 1px;
    transition: all ease-in-out 0.2s;
}

.header_name:hover::after{
    width:100%;
}


.home_header_price, .home_header_name, .home_header_change{
    font-size: 1.3vw;
    text-align: start;
    padding-left: 5%;
}
table{
    margin: 0 10%;
    width:80%;
    border-collapse: collapse;
}
.col_img{
    width:8%
}
.col_name{
    width:20%
}

.powered_by{
    display: flex;
    flex-direction: row;
    color: grey;
    font-size: 1vw;
    align-items: center;
    opacity: 0.5;
}
.powered_by img{
    margin:auto 0;
    width:6vw;
}



footer{
    border-top: 1px solid black;
    padding:2% 0;
    margin-top: 3%;
    text-align: center;
    font-size: .5vw;
}


.my_link{
    font-family: 'Reenie Beanie', cursive;
    position: relative;
    font-size: 2vw;
}

 .my_link:link,.my_link:visited{
    color:black
}
.my_link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: black;
    height: 1px;
    transition: all ease-in-out 0.2s;
}
.my_link:hover::after{
    width: 100%;
}


.error_wrapper{
    text-align: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-100%);
    width:50%;
}

.error_wrapper a{
    padding:1% 2%;
    background-color: rgb(103, 103, 247);
    border-radius: 10px;
    font-size: 2vw;
}

@media (orientation:portrait) {
    header{
        margin:0 5%;
    }
    .header_name{
        font-size: 2vw;
    }
    .powered_by{
        font-size: 1.5vw;
    }
    .powered_by img{
        width:8vw
    }
    footer{
        font-size: 1.5vw;
    }
    .my_link{
        font-size: 6vw;
    }
    table{
        margin: 0 2%;
        width:96%
    }
    .col_img{
        width:10%
    }
    .col_name{
        width:20%
    }
    .home_header_price, .home_header_name, .home_header_change{
        font-size: 3vw;
    }
    td{
        padding: 3% 0;
    }
    .error_wrapper a{
        padding:2% 4%;
        font-size: 6vw;
    }

}